doctype html
html(lang="en")
    head
        title="Cliques Advertisement"
        style
            include ../static/adstyle.css
    body
        a(href=click_url, target="_blank")
            img(src=img_url, width=width, height=height)